h1 {
    color: black;
    border-style : solid;
    margin: 5%;
    margin-left: 20%;
    margin-right: 20%;
    border-color: grey;
}
div.sample {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 3em;
}

main {
    margin-top: 8em;
}

.sample img {
    width:24%;
    padding-bottom: 2%;
    object-fit: contain;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

main>.container {
    padding: 60px 15px 0;
}

li {
    list-style-type: none;

}

div.affichage {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5em;
}

.affichage img {
    width: 15em;
    padding-bottom: 0.5em;
}

div.affichage ul li{
    margin: 0.5em;
}

.precedent-suivant{
    margin: 0em 0.5em 0em 0.5em;
}

.username-log{
    color: white;
}

.navbar-right li{
    margin: 0.2em;
}


.container{
    text-align: left;
    font-weight: bold;
}

.navbar-brand{
    font-size:105%;
    font-weight: bold;
}

.nav-link{
    font-size:105%;
    font-weight: bold;
}
.nav-link.active{
    font-size:105%;
    font-weight: bold;
}

.form-group{
    margin: 5%;
}

div.affichage{
     padding-bottom: 0.5em;
    
}

.flex-shrink-0{
    margin-bottom: 10%;
}